.introSection{
    display: flex;

    height: 77vh;
    margin-top: 6rem;
}
.leftSection{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.introName{
    display: flex;
    flex-direction: column;

}
.introName>:nth-child(1){
    font-weight: bold;
    font-size: 3rem;
}
.introName>:nth-child(2){
    color: var(--blue-color);
    font-weight: bold;
    font-size: 3.5rem;
    

}
.introName>:nth-child(3){
    font-weight: 500;
    font-size: 24px;
    margin-top: 10px;
}
.introButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4 rem;
    width: 9rem;
}
.rightSection{
    flex: 1;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.rightSection>*{
    position: absolute;
    z-index: 1;
    margin-left: 250px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;

}
.rightSection>:nth-child(1){
    transform: scale(-1.5);
    left: -15%;
    height: 350px;
}
.rightSection>:nth-child(2){
    transform: scale(1.5);
    left: -15%;
    height: 300px;
}

@media screen and (max-width:750px) {
        .introSection{
            flex-direction: column;
        }
        .rightSection>:nth-child(1){
            height: 200px;
        }
        .rightSection>:nth-child(2){
            left: -7.5%;
            height: 150px;
        }
}