.App{
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);    
}
a,
a:link,
a:hover,
a:visited,
a:active {
    text-decoration: none;
}
.button{
  border-radius: 34px ;
  border: none;
  background: #0ef;
  color: beige;
  font-size: 16px;
  padding: 10px;
   
  box-shadow: 0 0 7px #0ef;
}
.button:hover{
  background: rgb(96, 231, 193);
  cursor: pointer;
  border: 1px solid cornflowerblue;
}
.btnclass{
  display: inline-block;
  padding: 12px 20px;
  background: #0ef;
  border-radius: 40px;
  box-shadow: 0 0 10px #0ef;
  font-size: 16px;
  color: var(--black);
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;

}